{#Сервис для Nginx#}
---
apiVersion: "v1"
kind: "Service"
metadata:
  name: "{{ k8s_nginx_deploy_cfg['service_name'] }}"
  namespace: "{{ k8s_nginx_deploy_cfg['namespase'] }}"
spec:
  type: "{{ k8s_nginx_deploy_cfg['service_type'] }}"
  selector:
    app: "{{ k8s_nginx_deploy_cfg['service_name'] }}"
  ports:
    - protocol: "{{ k8s_nginx_deploy_cfg['protocol'] }}"
      port: "{{ k8s_nginx_deploy_cfg['deploy_port'] }}"
      targetPort: "{{ k8s_nginx_deploy_cfg['targetPort'] }}"
      nodePort: "{{ k8s_nginx_deploy_cfg['nodeport'] }}"
