{# Копирование сертификатов#}
---
- name: "Сохраняем сертификаты в Secrets"
  kubernetes.core.k8s:
    state: "present"
    kind: "Secret"
    namespace: "{{ k8s_nginx_wp_deploy_cfg['namespase'] }}"
    name: "{{ k8s_nginx_wp_deploy_cfg['secret_file_name'] }}"
    api_version: v1
    type: kubernetes.io/tls
    data:
      server.crt: "{{ lookup('file', 'files/ssl/registry/server.crt') | b64encode }}"
      server.key: "{{ lookup('file', 'files/ssl/registry/server.key') | b64encode }}"
      server.crt: "{{ lookup('file', 'files/ssl/wordpress/server.crt') | b64encode }}"
      server.key: "{{ lookup('file', 'files/ssl/wordpress/server.key') | b64encode }}"