-----BEGIN CERTIFICATE-----
MIIFMjCCAxqgAwIBAgIUSqeBOubqZ4FCZvvB5g70XZ3NDr8wDQYJKoZIhvcNAQEL
BQAwFzEVMBMGA1UEAwwMV29yZHByZXNzIENBMB4XDTI1MDMzMTExMTUzNVoXDTI2
MDMzMTExMTUzNVowGjEYMBYGA1UEAwwPd29yZHByZXNzLmxvY2FsMIICIjANBgkq
hkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAr9qyqSm4aAz1j3QWP0J6ymZ9ri6xJc8/
RMMt9nNvv9HyRYgefLUnMoM/XlqXoq3/jEPBlPTG2uhK45mX4IYqric/6WiC/2HG
XZ3u/v4pY+UfBBKtwgFx7mktQzOsHtMaLVU1lLwko4v82zJsj6k2fN0k+HNJpqaH
3rDdtdxVGOzVZJqnNo2S/ZaZcnLmcPGvI/1XI5Mrk8nVVTAZi/N6pVLeIlSeuSBu
J88K1HCg71VC8Zb8FgTmiqUQgdsIc98ChHUYtJ+4N+AoSUm8PvfpVBR3/GuJxo0e
9AicL171b7kb9nCEm8MXNe6o/kuzfsgaM3flDub6MWzj+tbKhC2QNQie9/acys+g
a0S6qFpXYeRO+W/FbNKTJNzbtc4lKMIBvdeQ4d10RPHFVjOP+QRQepeCjYL2MXcA
LGKdcsJrs0Hx9CUmsB6g6A62319PURyoA7JbhSBMpFgn+bOtkHclnwrqEQjyFV81
bp3VLWis10NiI6RYpMAo4K345yheg9M3eWQ92NQ+P6GtY7SU6z/YPZDJlPJ5Fui/
3g3RkVRDY8JXT3wrSaidA1ywwliKHr7Fgy2w5UU33M0+Dpsgc6SLssxj2fHXRea1
XzzAQqE4Yu+B9CrmL6ymaoj71WFjRoP0mYPeMA6egXrWg1/cbsjb1RLrKBDwgt8G
eRCuCU1/Z2kCAwEAAaNzMHEwLwYDVR0RBCgwJoIPd29yZHByZXNzLmxvY2FsghN3
d3cud29yZHByZXNzLmxvY2FsMB0GA1UdDgQWBBSi/o/GOSbIEZfWV7cGyukQBp99
7jAfBgNVHSMEGDAWgBRERI6rCRH1oZ3GgW6GJ0KjHH0ZozANBgkqhkiG9w0BAQsF
AAOCAgEAd2ObSqur1TkIeRlSITruckCzbpeNHfv4sB07RN9GNAP/gUUAiPh7rOgI
RVO+0cFDw3bqzW38zUqzcpz77b0rFh1cwbp38/ERnOYyy3adzMZoS5DhKu+rFua6
oA0NIOOEqgkmRwE7EmZmj6x45/OyAV4L5PKivE+QoA5mPSJNLTEUs6f6WPXQTK1r
xJM/bd5KcigWi+4ClRyTnwlPUQoPKIdGjWkFPg1mkQY3jkWuaNfRaxzrOeUqw6Qd
U31tu5/eAQ+O5wU7O4nOg0N1XCk3lKRkMfGbdzI73uI3iGiGxMTDnMvn5zMb3mV2
SSzjz4GO/weLpsn9S5nK+9TGoX//XGePBvW7z72aSOAe7D4B2hM/WRUwXY+fYGyh
VV66DPjQtHVWDbNnC2nXnq/ImDnRa5CbU/aq5dWtVRXmYxc96NclmZrzBOlbjv78
iiL5f/E3PXqe08gYeF/BotGawJROTr8eCjnXgTLElzzSy3jgpghbzpTrESk6yT1F
8ajyNhGCocq6lzNVWVh0tceYyYs0ca/+2xvOFM0voDuGtu6HYm3OD07e1WwLU4xX
XjfJ83YwpYoKCEypAiIYnOpdZXHRGaT7fFJuHSecp1O4jjS1WTgX7sFCHAii/asf
4nS472l4fJZ9GXXIXX2uF0dXkxYZ8u6gY+8WPwUb0VxA06ASCO0=
-----END CERTIFICATE-----
