{#Конфиг для Nginx для доступа к wordpress#}
---
apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: ""{{ k8s_wordpress_cfg['configmap_name'] }}""
  namespace: "{{ k8s_wordpress_cfg['namespace'] }}"
data:
  wp-config.php: |
    <?php
    if (!function_exists('getenv_docker')) {
            // https://github.com/docker-library/wordpress/issues/588 (WP-CLI will load this file 2x)
            function getenv_docker($env, $default) {
                    if ($fileEnv = getenv($env . '_FILE')) {
                            return rtrim(file_get_contents($fileEnv), "\r\n");
                    }
                    else if (($val = getenv($env)) !== false) {
                            return $val;
                    }
                    else {
                            return $default;
                    }
            }
    }

    // ** Настройки базы данных ** //
    define('DB_NAME', 'newbd');
    define('DB_USER', 'admin');
    define('DB_PASSWORD', 'p@ssWd12');
    define('DB_HOST', "{{ k8s_wordpress_deploy_mysql_service }}:3306");

    define('DB_CHARSET', 'utf8mb4');
    define('DB_COLLATE', '');

    define('WP_HOME', 'https://wordpress.local');
    define('WP_SITEURL', 'https://wordpress.local');

    // ** Ключи безопасности ** //
    define('AUTH_KEY',         '4c!-quwMqFn(6rlbZUo1DpF:)-lpkz^RzA.gITM`>(cS+ VNp%jhU:Q^vD5-|+.2');
    define('SECURE_AUTH_KEY',  'i-bN]@|78({;-:TYrq$# y^i1h-1# C-j<;fh@2<N[:mb.Vx],`9l?-X h;7l@fo');
    define('LOGGED_IN_KEY',    'vM(:yjy&]y>{j/Z!Tm38n<4 E0rJ4>H]m3%EloZ:x6=&zT. 6X_:*)EOD+YXDIb ');
    define('NONCE_KEY',        '=l#rR?cZe|-l =1vTv:5s:4!1opzg:cX1rKehwxd(bJdzcmfAJdB;IV6u0S%fWJ|');
    define('AUTH_SALT',        'r]3Ffh-{lLSDu#S3RXv^GYV-sjPxlN,RWo(uqA_6lk,-b425.wED#JT+2{+XI{+Y');
    define('SECURE_AUTH_SALT', '[.=4MyqFpEF|+?JVwf..7!!Vu>gqZrIf2OZRED_.Y3Z+NFVm>ehHEXAK:>L#g{ND');
    define('LOGGED_IN_SALT',   '@@+SLP{]8V JB_d)1h(cZ4Z{5?ts-`5sw!kWX=S|=[50;T-,M.:y3E/U |pglNHF');
    define('NONCE_SALT',       'BHD_TaTPhMs*JYP:SgE$y+Y;LJzs%OmY^Sk}D|#$rCiE#>+x+T^kUwd|Wx5]hZp]');

    $table_prefix = 'wp_';

    define('WP_DEBUG', false);

    if (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) && strpos($_SERVER['HTTP_X_FORWARDED_PROTO'], 'https') !== false) {
            $_SERVER['HTTPS'] = 'on';
    }
    // (we include this by default because reverse proxying is extremely common in container environments)

    if ($configExtra = getenv_docker('WORDPRESS_CONFIG_EXTRA', '')) {
            eval($configExtra);
    }

    if ( ! defined( 'ABSPATH' ) ) {
            define( 'ABSPATH', __DIR__ . '/' );
    }

    require_once ABSPATH . 'wp-settings.php';