{# Деплой  Wordpress#}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ k8s_wordpress_cfg['name'] }}"
  namespace: "{{ k8s_wordpress_cfg['namespace'] }}"
spec:
  replicas: {{ k8s_wordpress_cfg['replicas'] }}
  selector:
    matchLabels:
      app: "{{ k8s_wordpress_cfg['name'] }}"
  template:
    metadata:
      labels:
        app: "{{ k8s_wordpress_cfg['name'] }}"
    spec:
      containers:
        - name: "{{ k8s_wordpress_container_config['name'] }}"
          image: "{{ k8s_wordpress_container_config['image'] }}:{{ k8s_wordpress_container_config['tag'] }}"
          ports:
            - containerPort: {{ k8s_wordpress_cfg['port'] }}
          volumeMounts:
            - name: "{{ k8s_wordpress_cfg['storage_name'] }}"
              mountPath: /var/www/html
            - name: "{{ k8s_wordpress_cfg['config_name'] }}"
              mountPath: "/var/www/html/wp-config.php"
              subPath: "wp-config.php"
      volumes:
        - name: "{{ k8s_wordpress_cfg['storage_name'] }}"
          hostPath:
            path: "{{ k8s_wordpress_hostdir }}"
            type: DirectoryOrCreate
        - name: "{{ k8s_wordpress_cfg['config_name'] }}"
          configMap:
            name: "{{ k8s_wordpress_cfg['configmap_name'] }}"

