{# Переменные базы данных, зашифрованные base64 #}
---
apiVersion: "v1"
kind: "Secret"
metadata:
  name: "{{ k8s_wordpress_cfg['secret_name'] }}"
  namespace: "{{ k8s_wordpress_cfg['namespase'] }}"
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: UGFTU3dkMTI=
  MYSQL_DATABASE: bmV3YmQ=
  MYSQL_USER: YWRtaW4=
  MYSQL_PASSWORD: cEBzc1dkMTI=
