server {
    listen 443 ssl;
    http2 on;
    server_name wordpress.local www.wordpress.local;

    ssl_certificate /etc/nginx/ssl/wordpress/wordpress.crt;
    ssl_certificate_key /etc/nginx/ssl/wordpress/wordpress.key;

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    access_log  /var/log/nginx/wordpress.access.log  main;
    error_log  /var/log/nginx/wordpress.error.log notice;

    location / {
        proxy_pass http://wordpress_local;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header SSL_PROTOCOL $ssl_protocol;
    }
}
