-----BEGIN CERTIFICATE-----
MIIFcTCCA1mgAwIBAgIUSqeBOubqZ4FCZvvB5g70XZ3NDtEwDQYJKoZIhvcNAQEL
BQAwFzEVMBMGA1UEAwwMV29yZHByZXNzIENBMB4XDTI1MDQxNDEzMzMzN1oXDTI2
MDQxNDEzMzMzN1owWzELMAkGA1UEBhMCUlUxDzANBgNVBAgMBlJvc3RvdjEPMA0G
A1UEBwwGUm9zdG92MREwDwYDVQQKDAhraW5vcGxhbjEXMBUGA1UEAwwOcmVnaXN0
cnkubG9jYWwwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQC0lBrqcdye
X5tX5F4hu7JafUL1X09EV1H6LUKLGwyq7tL9Sg39xADsXX40OpvKll0OeXI7h4uo
6zGClddoQR9UBhegJcUawGpneOQ5dz1mTpONbIe9K4cREm+R4WV7zXkS1TaZ7AzW
ewieYdEMKFEEnG4oVwQbWLSauxUIYYlSSyIg4PdiFRNODDxn+jNYtp7r7OugncRb
3RfGg/n0rNAljknsYXP9u6JGOcII8Ev5V7veeR+DzOxFx4xIe5fLVj6bsNDlws+g
0+X/vcXMwmAAOhlCSrT5dy04J5mMMlyo4dcvnO5FYNOLBtO4L02OecQZAmvo1dvZ
y2EA25N3DtmwLsD8Vx7QA7yAQ7NdGxKurU4QSsli+sKFlaF48EH/p20iQGcn1nqv
DMAUqDgk5QZOsjMV2GssXDssAEOokLVmFdYVknDdcUjcYVWdyxnylLg/iTSFPB6n
YTOEO1gDdSrCZV5zROSgWbyTFyZzbz04b0QEnG3VZR68o7fd92w2LFbfGd0YYPjf
+pm2VwWTr3UcwHr1pTTj8QvkTJZTAd32eklH59m+U7qC0K+4WepiO6bX7X1V8zds
KRa5W4ABeizl85UGzULAu1ImMZeNkd/y6v4/oMi6EMpadS9gFE05/46arGMAP/vu
ywIuDrhozErFLg9n9U5z0COMHUyVzCm0zwIDAQABo3EwbzAtBgNVHREEJjAkgg5y
ZWdpc3RyeS5sb2NhbIISd3d3LnJlZ2lzdHJ5LmxvY2FsMB0GA1UdDgQWBBShRlzV
lPjoSHz8O9Prf+QYDXNr4TAfBgNVHSMEGDAWgBRERI6rCRH1oZ3GgW6GJ0KjHH0Z
ozANBgkqhkiG9w0BAQsFAAOCAgEAJFGOPWSXTFQfq5yE7mMXmM+ZZC9pGEAbQ3D5
xOtctp/is0Fgl6xVjBAxYZntfrxSsYZAW/LdfQ8VefNMICryH9gv1eOx4VR2l7am
3rRSNZiud9JE1RmgZckoCVNkTKG8SAdL7iiFcSoxqP+GFHTgXfIIJ/zUcWG20boL
06KPKXqtdCiUhGanpYDOBtv0KJYGBF8mIPtenUhAEkjRE2NUBTYjcPSsPox96SF/
wLjgL6lMHSuIeDFMP2xxPnzJZ/iYHNntC5F/eljqIyz+Xyor9oaycxoyrx34gEoB
MXbevWPKyENQyw3ddQVaTuW/3B5EDDp/lNOseq2VEJWA58e94Bk8AuuM8W1/VvSM
ibPQkKFZ8QGFdgtNrPYFDMrva0jCqwPk5Um/y41Z4D9UV60U1g7cdE1MSkq82+ob
pTRgTLfnxtN3IZr09s9pcnuXoGt4CzcQvU7Lrw459J5rqwn6PcEZAS/qTbJYh5eT
ac41QT/WP8macVymqApdG6m9uMEG0IfcZC1Z6YSHXqpqhP02R/MAB1ad8oyZBd8b
dWR0MMWp/FHsOzWV9EQP23P6uU6eNLYwjyJfeAAjmhl64hNX4RSocm/unp0eZLvA
zmDM8JbYF2is3DnIJC5noYdaOCThDECKnuY7u9nP+v7UJeynrn2LIP8QS7jlBgeI
ML2qEWQ=
-----END CERTIFICATE-----